<!DOCTYPE html>
<html>
<head>
	<title>FlexLogin</title>
</head>
<body>
	<form action="/register" method="GET">
		<button type="submit">Registrar</button>
	</form>

	<form action="/login" method="GET">
		<button type="submit">Login</button>
	</form>

</body>
</html>